#productsBody{
    display: flex;
    justify-content: space-between;
    width: 80%;
    /* min-height: 100vh; */
    line-height: 1.0;
    flex-wrap: wrap;
   
}


#productsContainer{
   border: 2px solid black;
   margin: 20px;
   height: 250px;
   max-width: 100%;
   font-size: 12px;
   width: 100%;
   text-align: center;
}
.productCard{
    margin: 6px;
   
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardButtonSection{
    display: flex;
    flex-direction: column;
    width: 85%;
    align-items: center;
    padding: 12px;
    margin: 12px;
    
}
.cardButtons{
    margin: 3px;
    border: 2px solid black;
    border-radius: 7px;
    color: darkgoldenrod;
    background-color: black;
    transition: 0.6s;
    text-decoration: none;
}
.cardButtons:hover{
    color: white;
}

#productImg{
   width: 65px;
}

#searchLabel{
    display: none;
    color: rgb(222, 222, 222);
}

#searchInput{
    display: flex;
    padding: 6px;
    margin: 6px;
    border-bottom: 2px solid black;
    border-radius: 12px;
    transition: 0.6s;
    width: 25%;
}

#searchInput:hover{
    background-color: rgb(232, 232, 232);
}