/* #viewProductPage {
    background-image: linear-gradient(-90deg, #E6E2AF 0%, #002F2F 100%);
} */
   

#viewItemSection{
    display: flex;
    flex-direction: column;
    float: right;
    align-items: center;
    position: absolute;
    top: 23%;
    left: 40%;
    width: 30%;
   border: 2px solid black;
   border-radius: 12px;
   padding: 20px;
   margin: 30px;
   font-family: 'Lato', sans-serif;
}

#vPPhoto{
    position: absolute;
/* display: flex;
margin: 62px; */
left: 20%;
top: 30%;
border-radius: 9px;
border: 3px solid rgb(93, 88, 3);
background: #E0C9A6;
border-bottom: 3px dashed rgb(93, 88, 3);
}

#viewProductPage{
    display: flex;
    justify-content: space-between;
    margin: 22px;
}
.viewProductLine{
    padding: 12px;
    margin: 3px;
}
#viewProductATCButton{
  font-size: 18px;
}